<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Registration Notification</title>
    </head>

<body>
    <div>
    <h3>Dear {{name}},</h3>
    <p>This is to notify you that you have been successfully registered with ABC corp</p>
    </div>
</body>
</html>